<appSettings>
  <add key="MailServer" value="dev-smtp.movieapp.com"/>
  <add key="FacebookAppId" value="309149276680382"/>
  <add key="FacebookAppSecret" value="7cbfcec83f00c75a14535217eb340f80"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
